.header-color {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.home-grid {
background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%; 
text-align: center
} 

/*contact page css*/

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 24px;
}

.contact-grid h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.contact-grid p {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
.contact-grid hr {
  border-top:5px dotted black;
  width:50%;
  margin:auto;
}

.contact-list i {
  font-size: 40px;
  padding-right: 3em;
}
/*contact page css*/

.islands-grid {
  text-align: center;
}


.balos-img {
  width: 10px;
  height: 10px;
}

/*islands page css*/


.greece-img {
  height: 250px;
  padding-top: 5em;
}

.greece-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.greece-text h1 {
  font-size: 66px;
  font-weight: bold;
  color:white;
  text-align: center;
}

.greece-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.greece-text p {
  color:white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  
}